# ignorar pasta de saves (não deve ir pro GitHub)
saves/

# ignorar pycache do Python
__pycache__/
__pycache__/**/ 
*.pyo
*.pyc

# ignorar configs locais do VSCode
.vscode/

# ignorar arquivos temporários
*.tmp
*.log